<footer class="footer">
  <div class="footer-container">

    <!-- LOGO / INFO -->
    <div class="footer-col">
      <h2 class="footer-logo">ImpleStore</h2>
      <p>Soluciones en herramientas, repuestos y equipos industriales.</p>
    </div>

    <!-- CATEGORÍAS -->
    <div class="footer-col">
      <h4>Categorías</h4>
      <ul>
        <li>Herramientas</li>
        <li>Baterías</li>
        <li>Lubricantes</li>
        <li>Electricidad</li>
      </ul>
    </div>

    <!-- AYUDA -->
    <div class="footer-col">
      <h4>Ayuda</h4>
      <ul>
        <li>Contacto</li>
        <li>Envíos</li>
        <li>Garantías</li>
        <li>Soporte</li>
      </ul>
    </div>

    <!-- CONTACTO -->
    <div class="footer-col">
      <h4>Contacto</h4>
      <p>📍 Lima, Perú</p>
      <p>📞 +51 999 999 123</p>
      <p>📧 ventas@implestore.com</p>
    </div>

   <!-- REDES SOCIALES -->
   <div class="footer-col">
   <h4>Síguenos</h4>

   <div class="redes">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><i class="fab fa-tiktok"></i></a>
   </div>
   </div>
  </div>

  <!-- COPYRIGHT -->
  <div class="footer-bottom">
    <p>© 2026 ImpleStore - Todos los derechos reservados</p>
  </div>
</footer>