<!-- TOP BAR -->
<div class="topbar">
  🚚 Por este mes ENVÍOS GRATIS en todas tus compras
</div>

<!-- HEADER -->
<header class="header">
  <div class="header-container">

    <!-- IZQUIERDA -->
    <div class="header-left">

      <!-- MENÚ  -->
      <div class="menu-btn">
        ☰ <span>Menú Categorías</span>
      </div>

      <!--  LOGO  -->
      <div class="logo">ImpleStore</div>

    </div>

    <!-- BUSCADOR -->
    <div class="buscador">
      <input type="text" id="inputBusqueda" placeholder="Buscar productos...">
      <button>🔍</button>
    </div>

    <!-- DERECHA -->
    <div class="header-right">
      
      <div class="icono carrito-icono" id="btnCarrito">
        🛒
        <span id="contador" class="contador">0</span>
        <small>Mi carro</small>
      </div>

      <div class="icono">👤<span>Cuenta</span></div>
    </div>

  </div>
</header>