<aside id="sidebarMenu" class="sidebar">

  <div class="sidebar-header">
    <h3>Categorías</h3>
    <span id="cerrarSidebar" class="cerrar-sidebar">✖</span>
  </div>

  <ul class="menu-categorias">
    <li data-categoria="Todos">📦 Todos</li>
    <li data-categoria="Herramientas">🔧 Herramientas</li>
    <li data-categoria="Repuestos de Transporte">🚚 Repuestos</li>
    <li data-categoria="Baterías">🔋 Baterías</li>
    <li data-categoria="Lubricantes">🛢️ Lubricantes</li>
    <li data-categoria="Electricidad">⚡ Electricidad</li>
    <li data-categoria="Seguridad Industrial">🦺 Seguridad</li>
    <li data-categoria="Control de Carga">🛠️ Carga</li>
  </ul>

</aside>